@import '../styles/main.scss';

.about-page {
  @extend .container-page;

  h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  .about-content {
    max-width: 800px;
    margin: 0 auto;
  }

  p {
    font-size: 1.05rem;
  }
}

.about-container{
  min-height: 100vh;
}