.footer {
  background-color: #031e48;
  color: #fff;
  padding: 1.5rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: auto;

  a {
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }
}
