@layer base {
    * {
        scrollbar-width: thin;
    }
    body {
        @apply font-base bg-bodybg;
    }
    section {
        @apply relative;
    }
    h1, .h1{
        @apply font-bold text-primary;
    }
	h2, .h2{
        @apply font-bold text-primary text-13xl;
    }
	h3, .h3{
        @apply font-semibold text-primary text-8xl;
    }
	h4, .h4{
        @apply font-semibold text-primary text-xl;
    }
	h5, .h5{
        @apply font-semibold text-primary text-4xl;
    }
    p {
        @apply font-normal text-gray text-base;
    }
    
}
@layer utilities {
    .content-counter::after {
      content: "0" counter(counter-item);
    }
  }
a{
    @apply duration-500 cursor-pointer;
}


textarea ,
input {
  @apply outline-0 outline-none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.theme-btn .active {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50px;
  z-index: 1;
  transition: 0.5s;
}


/* POINTER */
#pointer-ring {
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid #fff !important;
  position: fixed;
  border-radius: 100px;
  z-index: 999999;
  pointer-events: none;
  transition: width 0.3s, height 0.3s;
}
#pointer-ring.active {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: #fff;
  border: 0 !important;
}

.svg-currentcolor path {
  stroke: currentColor;
}
#videoContainer iframe,
#videoContainer video {
    width: 100%;
    height: 676px;
    border: none;
    border-radius: 8px;
}
.dzFormMsg .alert-success {
  @apply text-white bg-green-200 p-5 mb-2.5;
}
.dzFormMsg .alert-danger {
  @apply text-white bg-red-200 p-5 mb-2.5;
}
#scrollProgress.active {
    opacity: 1;
    pointer-events: auto;
}
.dzSubscribeMsg .alert,
.dzFormMsg .alert {
  @apply rounded py-3.75 px-5 relative border-2 mb-4 ;
}

.alert-warning {
  @apply bg-[#fff3cd] border-[#ffeeba] text-[#856404];
}

.alert-success {
  @apply bg-[#d4edda] border-[#c3e6cb] text-[#155724];
}

.alert-info {
  @apply bg-[#cce5ff] border-[#b8daff] text-[#004085];
}

.alert-danger {
  @apply bg-[#f8d7da] border-[#f5c6cb] text-[#721c24];
}
