@keyframes toTopFromBottom {
  49% {
    -webkit-transform: translate(100%, -100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
  }

  51% {
    opacity: 1;
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%); 
	}
  50% {
    opacity: 0;
    transform: translateX(-100%); 
	}
  51% {
    opacity: 1; 
	}
}
@keyframes toRightFromLeft {
  49% {
    transform: translateX(-100%); 
	}
  50% {
    opacity: 0;
    transform: translateX(100%); 
	}
  51% {
    opacity: 1; 
	}
}
@keyframes headerSlideDown {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes moveRotate {
    0% {
        transform: translateX(-120vw) rotate(0deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}